* {
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 500;
}

html {
    width: 100%;
    margin: 0;
    padding: 0;
    font: 500 ;
}
body {
    width: 100%;
    margin: 0;
    padding: 0;
}
.splitbody {
    display: grid;
    width: 100%;
    margin: 0;
    grid-template-columns: 43% 2% 55%;
    padding: 10px;
    column-gap: 0;
}
.row2{
    display: grid;
    width: 100%;
    margin: 0;
    grid-template-columns: 49% 49%;
    padding: 0;
    column-gap: 2%;
}
.row3{
    display: grid;
    width: 100%;
    margin: 0;
    grid-template-columns: 32% 32% 32%;
    padding: 0;
    column-gap: 2%;
}
.vl {
    width: 3px;
    margin: 0 auto;
    background-color: black;
    height: 80vh;
  }
.title {
font-size: 20px;
font-weight: 600;
}
input,select {
    display: block;
    width: 100%;
    margin: 5px auto 10px auto;
    padding: 5px;
    border: solid 2px black;
    background-color: white;
    color: black;
}
textarea {
    display: block;
    width: 100%;
    margin: 5px auto 10px auto;
    min-height: 33px;
    padding: 5px;
    border: solid 2px black;
    background-color: white;
    color: black;
    resize: vertical;
    word-break: break-all;
    border-radius: none;
}
button {
    display: block;
    width: 100%;
    margin: 10px auto;
    padding: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: none;
}
.nfw {
    display: inline;
    width: auto;
    min-width: 20px;
    margin: 0;
    padding: 0;
}
input[type=color]{
    padding: 0;
    min-height: 33px;
}
input[type=range]{
    margin: 0 0 5px 0;
    padding: 0;
}
*{word-break: break-all;}
.hide {
    display: none;
}
@media only screen and (max-width: 800px) {
    * {
        font-size: 16px;
        font-weight: 500;
    }
}
@media only screen and (max-width: 480px) {
    * {
        font-size: 14px;
        font-weight: 400;
    }
}


.canvasbox {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    border: solid 2px black;
}
canvas {
    width: 100%;
    margin: 0;
}
.box {
    display: block;
    width: 100%;
    min-height: 2em;
    padding: 5px;
    margin: 5px 0;
    border: solid 2px black;
    background-color: white;
    color: black;
}
pre {
    display: block;
    width: 100%;
    padding: 5px;
    margin: 0;
    color: black;
    word-break: break-all;
}
a{
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}